<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-2">

            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Images/Img11.jpg" class="card-img-top" alt="Feature 1">
                    <div class="card-body">
                        <p class="card-text">Lockers</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Images/Img15.jpg" class="card-img-top" alt="Feature 2">
                    <div class="card-body">
                        <p class="card-text">olympic-size swimming pool</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Images/Img13.jpg" class="card-img-top" alt="Feature 3">
                    <div class="card-body">
                        <p class="card-text">Ac Rooms</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Images/Img14.jpg" class="card-img-top" alt="Feature 4">
                    <div class="card-body">
                        <p class="card-text">Gym Area</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Images/Img12.jpg" class="card-img-top" alt="Feature 5">
                    <div class="card-body">
                        <p class="card-text">Free WiFi</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Images/Img16.jpg" class="card-img-top" alt="Feature 6">
                    <div class="card-body">
                        <p class="card-text">24x7 CCTV</p>
                    </div>
                </div>
            </div>

         </div>
     </div>
</div>
