



<div class="container mx-auto body-content">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Pricing</h1>
        <p class="fs-5 text-body-secondary">Welcome to our AnkursHostel! We offer affordable and comfortable accommodations for budget-conscious travelers. Our prices vary depending on the type of room and length of stay, but we strive to keep them as competitive as possible..</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Basic</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$4000<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Double Sharing</li>
                        <li>Ac Room</li>
                        <li>WIFI</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$6500<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Double Sharing</li>
                        <li>Food Included</li>
                        <li>Ac Room</li>
                        <li>All Basic Facilities</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Super</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$9000<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Seprate Room</li>
                        <li>Food Included</li>
                        <li>Gym Access</li>
                        <li>Ac Room</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h2 class="display-6 text-center mb-4">Compare plans</h2>

    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th style="width: 34%;"></th>
                    <th style="width: 22%;">Basic</th>
                    <th style="width: 22%;">Pro</th>
                    <th style="width: 22%;">Super</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-start">WiFi</th>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Water</th>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <th scope="row" class="text-start">Gym Access</th>
                    <td></td>
                    <td></td>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Food</th>
                    <td></td>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Furnished</th>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Single Room</th>
                    <td></td>
                    <td></td>
                    <td><h6 class="text-primary" width="24" height="24">YES</h6></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>